<%- include('ar_parts/ar_header')%>
<%- include('ar_parts/ar_navbar')%>

<div class="container">
    <%- include('ar_filters')%>
    <% if(validationError) { %><p class="alert alert-danger"><%= validationError.msg%></p><% } %>
    <% if(products.length === 0) { %>
        <div class="alert alert-danger">لا يوجد منتجات</div>
    <% } else { %> 
    <div class="row">
        <% for(let product of products) { %>
            <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card" style="width: 100%;">
                    <img src="/<%= product.image%>" class="card-img-top" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/ar_product/<%= product._id%>"><%= product.name%></a>
                        <h1 style="margin-right: 0.5rem;"></h1>
                        <p> السعر : <%= product.price%> جنيه </p>
                        </h5>
                        <form action="/ar_cart/" method="POST" class="add-to-cart-form">
                            <input type="number" name="amount" class="form-control">
                            <input type="hidden" name="name" value="<%= product.name%>">
                            <input type="hidden" name="phonenumber" value="<%= product.phonenumber%>">
                            <input type="hidden" name="price" value="<%= product.price%>">
                            <input type="hidden" name="productId" value="<%= product._id%>">
                            <input type="hidden" name="redirectTo" value="/ar_index/">
                            <button type="submit" value="إضافة للعربة" class="btn btn-primary">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                            </button>
                        </form>
                        <% if(isAdmin) { %>
                        <form action="/deleteProduct" method="POST" class="add-to-cart-form">
                            <input type="hidden" name="id" value="<%= product._id%>">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove">X</span>
                            </button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <% } %>

   
    <% if (pages > 0) { %>
        <nav aria-label="Page navigation example" style="margin-right: -40px;">
            <ul class="pagination">
                <% if (current == 1) { %>     <li class="page-item disabled"><a class="page-link">الاولي</a></li>
                <% } else { %>                <li class="page-item"><a class="page-link" href="/page1">الاولي</a></li><% } %>
                <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                <% if (i !== 1) { %>          <li class="page-item disabled"><a class="page-link">...</a></li><% } %>
                <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                    <% if (i == current) { %> <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>            <li class="page-item"><a class="page-link" href="/page<%= i %>"><%= i %></a></li><% } %>
                    <% if (i == Number(current) + 2 && i < pages) { %>
                                              <li class="page-item disabled"><a class="page-link">...</a></li><% } %>
                <% } %>
                <% if (current == pages) { %> <li class="page-item disabled"><a class="page-link">الاخيرة</a></li>
                <% } else { %>                <li class="page-item"><a class="page-link" href="/page<%= pages %>">الاخيرة</a></li><% } %>
            </ul>
        </nav>
    <% } %>

</div>
<%- include('ar_parts/ar_footer')%> 
