<%- include('ar_parts/ar_header')%>
<%- include('ar_parts/ar_navbar')%>

<div class="container text-center">
    <h4 style="color: goldenrod;">سجل الأن</h4>
    <form action="/ar_login" method="POST">
        <input type="email" class="form-control" name="email" placeholder="البريد الالكتروني">
        <% let emailError = validationErrors.find(err => err.param === 'email') %>
        <% if (emailError) { %><p class="alert alert-danger"><%= emailError.msg %></p><% } %>
        <input type="password" class="form-control" name="password" placeholder="الرقم السري">
        <% let passwordError = validationErrors.find(err => err.param === 'password') %>
        <% if (passwordError) { %><p class="alert alert-danger"><%= passwordError.msg %></p><% } %>
        <input type="submit" value="دخول" class="btn btn-outline-primary">
    </form>
    <% if(authError) { %><br><p class="alert alert-danger"><%= authError%></p><% } %>
    <br>
    <div>ليس لديك حساب ؟ <a href="/ar_signup">أنشئ حساباً</a></div>
</div>

<%- include('ar_parts/ar_footer')%>